.search-container

    //- input
    input(  dir-bottom-arrow="down()"
            dir-top-arrow="top()"
            type="text"
            dir-enter="search()"
            ng-model="searchBarService.currentSearch"
            class="gling-button-light search-bar"
            placeholder="{{'--.welcome.search' | translateText}}")
    //- search icon
    span.glyphicon.glyphicon-search.search-icon(ng-click="search()")

    //- display list
    search-result-ctrl(ng-info="searchResultParam")